@font-face {
	font-family: "Plain Light";
	src: url(./plain-regular-webfont.ttf);
}

@font-face {
	font-family: "silk serif";
	src: url(./silkserif-regularitalic-webfont.ttf);
}

@font-face {
	font-family: "Plain Light";
	src: url(./plain-light-webfont.ttf);
}

@font-face {
	font-family: "silk serif";
	src: url(./silkserif-lightitalic-webfont.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: "Plain Light";
}
*::selection {
	background-color: #fff;
	color: #0b0b0b;
}
html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.cursor {
	height: 2.3vw;
	width: 2.3vw;
	border: 1px solid #fffffff3;
	border-radius: 50%;
	position: fixed;
	z-index: 999;
	mix-blend-mode: difference;
	transform: translate(-50%, -50%);
}

#loader {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	background-color: #0b0b0b;
	/* background-color: deepskyblue; */
	padding: 20vh 1vw;
	opacity: 1;
}

.line {
	height: fit-content;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2vw;
}

.line h2 {
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: 900;
	animation-name: nowanimate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	height: 10vw;
	/* background-color: red; */
	padding-top: 0.5vw;
	width: 18vw;
}

.line-1-part-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1vw;
	padding: 0vw 0vw 0vw 7vw;
	margin: 0vw 0vw 3.5vw 0vw;
	font-size: 4vw;
}
.line-1-part-1 h5,
h6 {
	font-size: 3vw;
	font-family: "silk serif";
	font-weight: 400;
}

.line-1-part-1 h5 {
	width: 5vw;
	text-align: right;
}

.line h1 {
	padding: 0vw 0vw 0vw 5vw;
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: 700;
}

/* NOW TEXT ANIMATION */
@keyframes nowanimate {
	0% {
		font-family: "plain light";
		-webkit-text-stroke: 1px #fff;
		font-weight: 500;
		color: #fff;
		opacity: 1;
	}

	48% {
		font-family: "plain light";
		-webkit-text-stroke: 1px #fff;
		color: #fff;
		opacity: 0;
	}

	50% {
		font-family: "silk serif";
		-webkit-text-stroke: 1px #fff;
		opacity: 1;
		color: transparent;
	}
	100% {
		font-family: "silk serif";
		-webkit-text-stroke: 1px #fff;
		font-weight: 500;
		color: transparent;
		opacity: 0;
	}
}
/* END OF NOW TEXT ANIMATION */

#main {
	position: relative;
	/* background-color: #151515; */
}

#page1 {
	min-height: 100vh;
	width: 100%;
	background-color: #151515;
	overflow: hidden;
}

#page1 #nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3vw 5.5vw;
	margin-bottom: 15vh;
}

#nav-part2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3vw;
}

#nav-part2 h4 {
	font-weight: 500;
	font-size: 0.9vw;
}

.hero {
	display: flex;
	align-items: center;
	padding-left: 24vw;
	position: relative;
	z-index: 999;
}

.hero h1 {
	font-size: 7.292vw;
	text-transform: uppercase;
	line-height: 7.5vw;
	font-weight: 700;
}

.hero h3,
.hero h2 {
	font-size: 7.292vw;
	text-transform: uppercase;
	line-height: 7.5vw;
	font-weight: 700;
	display: inline;
	border-bottom: 0.1vw solid #fff;
	transition: all ease 0.3s;
	padding-bottom: 0.1vw;
}
.hero h1 {
	padding-left: 1vw;
}
.hero h2:hover {
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	font-weight: 500;
	border-bottom: none;
}

.hero h3:hover {
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	font-weight: 500;
	border-bottom: none;
}

#page2 {
	height: 100vh;
	width: 100%;
	background-color: #151515;

	padding-top: 20vh;
	position: relative;
}

.video-container {
	height: 65vh;
	width: 70vw;
	position: relative;
	left: 29%;
	background: url(./Showreel-2022-preview-1.jpg);
}
.video-container img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	top: 0;
}

.video-container video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#video-cursor {
	height: 8.5vw;
	width: 8.5vw;
	background-color: #ffa63d;
	position: absolute;
	border-radius: 50%;
	left: 80%;
	top: 15%;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

#video-cursor i {
	font-size: 2vw;
}

#page3 {
	min-height: 100vh;
	width: 100%;
	background-color: rgb(65, 64, 64);
	position: relative;
}

#page4 {
	min-height: 100vh;
	width: 100%;
	position: relative;
	background-color: #151515;
	padding-top: 5vh;
}

#page4-content {
	width: 72vw;
	position: relative;
	margin-left: 28%;
}

#page4-content h1 {
	font-size: 7vw;
	text-transform: uppercase;
}

#page4-content .underline {
	height: 1px;
	width: 100%;
	background-color: #fff;
	margin: 4vw 0;
}

#page4-content > p {
	font-size: 2.05vw;
	width: 50%;
	margin-bottom: 5vw;
}

#page4-flex {
	display: flex;
}
#page4-flex img {
	width: 48%;
	height: 100%;
	object-fit: cover;
}

#page4-flex > p {
	width: 19%;
	font-size: 0.9vw;
	margin-left: 1.5vw;
}

.blue-div {
	background-color: #3f7df4;
	width: 35vw;
	padding: 3vw;
	position: relative;
	margin-top: -36vh;
	margin-left: 24vw;
}

.blue-div-elem {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1.5vw 0;
	border-bottom: 2px solid #ffffff7e;
}

.blue-div-elem h4 {
	font-size: 1.34vw;
	font-weight: 500;
}

.blue-div-elem p {
	width: 50%;
	padding-left: 2vw;
	padding-top: 0.4vw;
	font-size: 0.9vw;
}

#page4 .underlines {
	height: 1px;
	width: 92%;
	background-color: #fff;
	margin-top: 9vw;
}

#page5 {
	min-height: 100vh;
	width: 100%;
	background-color: #151515;
	position: relative;
	padding-top: 8vw;
}

.elem {
	white-space: nowrap;
	overflow-x: hidden;
}

.elem h1 {
	font-size: 7vw;
	display: inline-block;
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	font-weight: 400;
	text-transform: uppercase;
	margin-right: 16px;
	animation-name: textScroll;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes textScroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - 20px));
	}
}

.elem2 {
	white-space: nowrap;
	overflow-x: hidden;
}

.elem2 h1 {
	font-size: 7vw;
	display: inline-block;
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	transform: translateX(calc(-100% - 20px));
	font-weight: 400;
	text-transform: uppercase;
	margin-right: 16px;
	animation: textScroll 20s linear infinite reverse;
}

.elem span {
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	font-family: "silk serif ";
	font-style: italic;
}

.elem2 span {
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	font-family: "silk serif ";
	font-style: italic;
}

#page6 {
	min-height: 100vh;
	width: 100%;
	position: relative;
	background-color: #151515;
	padding-top: 7vw;
}

#page6 h1 {
	text-align: center;
	margin-bottom: 3vw;
	font-size: 7vw;
	text-transform: uppercase;
	font-family: "PLAIN LIGHT";
	font-weight: 600;
}

#page6 .underline {
	height: 1px;
	width: 68%;
	background-color: #fff;
	margin-left: 27vw;
	margin-top: 4vw;
	margin-bottom: 5vw;
}

.footer-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.list-1 {
	margin-left: 13vw;
}

.list-1 h6,
.list-2 h6,
.list-3 h6 {
	font-size: 1vw;
	font-family: "PLAIN LIGHT";
	margin-bottom: 1.5vw;
	
	
}

.list-2 h6{
	
	margin-top: -5.4vw;
}

.list-3 h6{
	margin-bottom: 0;
	margin-top: -7vw;
	
}

.list-1 h5,
.list-2 h5,
.list-3 h5 {
	font-size: 1.5vw;
	font-weight: 500;
	
}

.list-3 h5{
	margin-top: 2vw;
	text-decoration: underline;
}

#page6 .underline2{
	height: 1px;
	width: 68%;
	background-color: #fff;
	margin-left: 27vw;
	margin-top: 6vw;
	/* margin-bottom: 15vw; */
}

#page6 h4{
	font-weight: 500;
	font-family: "PLAIN LIGHT";
}